{% extends "layout.html" %}
{% block title %}Search{% endblock %}


{% block main %}
    <table class="table table-striped">
        <thead>
            <th>Planet name</th>
            <th>Host name</th>
            <th>Discovery method</th>
            <th>Discovery Year</th>
            <th>Discovery Facility</th>
        </thead>
        <hr>
        <tbody>
            {% if planets %}
                {% for planet in planets %}
                    <tr>
                        <td><a href="{{ planet.pl_refname|link }}">{{ planet.pl_name }}</a></td>
                        <td>{{ planet.hostname }}</td>
                        <td>{{ planet.discoverymethod }}</td>
                        <td>{{ planet.disc_year }}</td>
                        <td>{{ planet.disc_facility }}</td>
                    </tr>
                {% endfor %}
            {% elif planet %}
                <tr>
                    <td><a href="{{ planet.pl_refname|link }}">{{ planet.pl_name }}</a></td>
                    <td>{{ planet.hostname }}</td>
                    <td>{{ planet.discoverymethod }}</td>
                    <td>{{ planet.disc_year }}</td>
                    <td>{{ planet.disc_facility }}</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}